<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wm_units_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{160,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,116}}</string>
                <key>sourceSize</key>
                <string>{160,116}</string>
            </dict>
            <key>wm_units_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,2},{160,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,116}}</string>
                <key>sourceSize</key>
                <string>{160,116}</string>
            </dict>
            <key>wm_units_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,2},{160,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,116}}</string>
                <key>sourceSize</key>
                <string>{160,116}</string>
            </dict>
            <key>wm_units_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,2},{160,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,116}}</string>
                <key>sourceSize</key>
                <string>{160,116}</string>
            </dict>
            <key>wm_units_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,2},{160,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,116}}</string>
                <key>sourceSize</key>
                <string>{160,116}</string>
            </dict>
            <key>wm_units_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,2},{160,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,116}}</string>
                <key>sourceSize</key>
                <string>{160,116}</string>
            </dict>
            <key>wm_units_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,120},{160,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,116}}</string>
                <key>sourceSize</key>
                <string>{160,116}</string>
            </dict>
            <key>wm_units_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,120},{160,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,116}}</string>
                <key>sourceSize</key>
                <string>{160,116}</string>
            </dict>
            <key>wm_units_46.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,120},{160,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,116}}</string>
                <key>sourceSize</key>
                <string>{160,116}</string>
            </dict>
            <key>wm_units_47.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,120},{160,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,116}}</string>
                <key>sourceSize</key>
                <string>{160,116}</string>
            </dict>
            <key>wm_units_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,120},{160,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,116}}</string>
                <key>sourceSize</key>
                <string>{160,116}</string>
            </dict>
            <key>wm_units_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,120},{160,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,116}}</string>
                <key>sourceSize</key>
                <string>{160,116}</string>
            </dict>
            <key>wm_units_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,238},{160,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,116}}</string>
                <key>sourceSize</key>
                <string>{160,116}</string>
            </dict>
            <key>wm_units_wc1.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,238},{160,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,116}}</string>
                <key>sourceSize</key>
                <string>{160,116}</string>
            </dict>
            <key>wm_units_wc10.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,238},{160,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,116}}</string>
                <key>sourceSize</key>
                <string>{160,116}</string>
            </dict>
            <key>wm_units_wc11.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,238},{160,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,116}}</string>
                <key>sourceSize</key>
                <string>{160,116}</string>
            </dict>
            <key>wm_units_wc12.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,238},{160,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,116}}</string>
                <key>sourceSize</key>
                <string>{160,116}</string>
            </dict>
            <key>wm_units_wc13.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,238},{160,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,116}}</string>
                <key>sourceSize</key>
                <string>{160,116}</string>
            </dict>
            <key>wm_units_wc14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,356},{160,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,116}}</string>
                <key>sourceSize</key>
                <string>{160,116}</string>
            </dict>
            <key>wm_units_wc15.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,356},{160,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,116}}</string>
                <key>sourceSize</key>
                <string>{160,116}</string>
            </dict>
            <key>wm_units_wc16.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,356},{160,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,116}}</string>
                <key>sourceSize</key>
                <string>{160,116}</string>
            </dict>
            <key>wm_units_wc17.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,356},{160,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,116}}</string>
                <key>sourceSize</key>
                <string>{160,116}</string>
            </dict>
            <key>wm_units_wc18.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,356},{160,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,116}}</string>
                <key>sourceSize</key>
                <string>{160,116}</string>
            </dict>
            <key>wm_units_wc19.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,356},{160,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,116}}</string>
                <key>sourceSize</key>
                <string>{160,116}</string>
            </dict>
            <key>wm_units_wc2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,474},{160,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,116}}</string>
                <key>sourceSize</key>
                <string>{160,116}</string>
            </dict>
            <key>wm_units_wc20.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,474},{160,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,116}}</string>
                <key>sourceSize</key>
                <string>{160,116}</string>
            </dict>
            <key>wm_units_wc21.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,474},{160,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,116}}</string>
                <key>sourceSize</key>
                <string>{160,116}</string>
            </dict>
            <key>wm_units_wc22.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,474},{160,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,116}}</string>
                <key>sourceSize</key>
                <string>{160,116}</string>
            </dict>
            <key>wm_units_wc23.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,474},{160,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,116}}</string>
                <key>sourceSize</key>
                <string>{160,116}</string>
            </dict>
            <key>wm_units_wc24.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,474},{160,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,116}}</string>
                <key>sourceSize</key>
                <string>{160,116}</string>
            </dict>
            <key>wm_units_wc25.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,592},{160,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,116}}</string>
                <key>sourceSize</key>
                <string>{160,116}</string>
            </dict>
            <key>wm_units_wc26.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,592},{160,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,116}}</string>
                <key>sourceSize</key>
                <string>{160,116}</string>
            </dict>
            <key>wm_units_wc27.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,592},{160,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,116}}</string>
                <key>sourceSize</key>
                <string>{160,116}</string>
            </dict>
            <key>wm_units_wc28.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,592},{160,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,116}}</string>
                <key>sourceSize</key>
                <string>{160,116}</string>
            </dict>
            <key>wm_units_wc29.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,592},{160,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,116}}</string>
                <key>sourceSize</key>
                <string>{160,116}</string>
            </dict>
            <key>wm_units_wc3.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,592},{160,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,116}}</string>
                <key>sourceSize</key>
                <string>{160,116}</string>
            </dict>
            <key>wm_units_wc30.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,710},{160,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,116}}</string>
                <key>sourceSize</key>
                <string>{160,116}</string>
            </dict>
            <key>wm_units_wc31.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,710},{160,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,116}}</string>
                <key>sourceSize</key>
                <string>{160,116}</string>
            </dict>
            <key>wm_units_wc32.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,710},{160,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,116}}</string>
                <key>sourceSize</key>
                <string>{160,116}</string>
            </dict>
            <key>wm_units_wc4.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,710},{160,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,116}}</string>
                <key>sourceSize</key>
                <string>{160,116}</string>
            </dict>
            <key>wm_units_wc5.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,710},{160,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,116}}</string>
                <key>sourceSize</key>
                <string>{160,116}</string>
            </dict>
            <key>wm_units_wc6.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,710},{160,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,116}}</string>
                <key>sourceSize</key>
                <string>{160,116}</string>
            </dict>
            <key>wm_units_wc7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,828},{160,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,116}}</string>
                <key>sourceSize</key>
                <string>{160,116}</string>
            </dict>
            <key>wm_units_wc8.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,828},{160,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,116}}</string>
                <key>sourceSize</key>
                <string>{160,116}</string>
            </dict>
            <key>wm_units_wc9.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,828},{160,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,116}}</string>
                <key>sourceSize</key>
                <string>{160,116}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>units.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3b7081228c8a151d7ba3bc2f16a76e46:1/1$</string>
            <key>textureFileName</key>
            <string>units.png</string>
        </dict>
    </dict>
</plist>
